# common
PROJECT_ENVIRONMENT=prod
PROJECT_URL_SCHEME=http
PROJECT_DOMAIN=localhost
PROJECT_DATA_DIR=/opt/test-payment-processing-service-ddd-data
DEBUG=False

# rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=15e58e72d9369a6a0b18a08e77eabb37a0ca1d869ae3ba95dca4cb9e92d763ea
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_VHOST=/
RABBITMQ_DATA_DIR=${PROJECT_DATA_DIR}/rabbitmq

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
#REDIS_USERNAME=default
REDIS_PASSWORD=d956be1540969abb1ebd8cdc3b5642abf50fb3eef1a4b029740f5b32b3751483
REDIS_DATA_DIR=${PROJECT_DATA_DIR}/redis

# redis-insight
RI_APP_PORT=5540
RI_REDIS_DATA_DIR=${PROJECT_DATA_DIR}/redis-insight

# postgres
POSTGRES_HOST=pgbouncer
POSTGRES_PORT=5432
POSTGRES_DATA_DIR=${PROJECT_DATA_DIR}/db
POSTGRES_BACKUPS_DIR=${PROJECT_DATA_DIR}/backups

POSTGRES_DB=payment_processing
POSTGRES_USER=payment_processing
POSTGRES_PASSWORD=2c64c8bdbadbff914f6e849148b6e1b67bcf7b9b2b76dc9e089d255c02787e1e

# sqlalchemy
SA_DEBUG=False
SA_POOL_SIZE=50
SA_MAX_OVERFLOW=-1
SA_POOL_RECYCLE=600
SA_POOL_USE_LIFO=False
SA_POOL_PRE_PING=True

# frontend
FRONTEND_PORT=3000

# backend
BACKEND_PORT=8000
BACKEND_WORKER_COUNT=2
BACKEND_CONTAINER_COMMAND=--workers ${BACKEND_WORKER_COUNT}
#BACKEND_CONTAINER_COMMAND=--reload
BACKEND_API_PREFIX=/api/v1
BACKEND_AUTHENTICATION_HEADER_KEY=x-api-key
BACKEND_AUTHENTICATION_HEADER_VALUE=9c26c74b1b9bda81126eebd1e9f138073b2b029c877a29940724ed97984a1d92
BACKEND_PAYMENT_SUCCESS_RATE=0.9
BACKEND_PAYMENT_MIN_DELAY=2
BACKEND_PAYMENT_MAX_DELAY=5
BACKEND_WEBHOOK_RETRY_ATTEMPTS=3
BACKEND_WEBHOOK_REQUEST_TIMEOUT=10
BACKEND_WEBHOOK_RETRY_DELAY_BASE=1.0
BACKEND_OUTBOX_POLL_INTERVAL=2.0
BACKEND_BASE_URL=${PROJECT_URL_SCHEME}://${PROJECT_DOMAIN}
BACKEND_CORS_ALLOW_ORIGIN=${PROJECT_URL_SCHEME}://${PROJECT_DOMAIN} http://localhost:${FRONTEND_PORT}

# consumer
CONSUMER_PORT=8001
CONSUMER_WORKER_COUNT=2
CONSUMER_CONTAINER_COMMAND=--workers ${CONSUMER_WORKER_COUNT}
#CONSUMER_CONTAINER_COMMAND=--reload
CONSUMER_EXCHANGE_NAME=payments
CONSUMER_PAYMENT_ROUTING_KEY=payment.created
CONSUMER_QUEUE_NAME=payments.new
CONSUMER_QUEUE_DELIVERY_LIMIT=3
CONSUMER_DLX_EXCHANGE_NAME=payments.dlx
CONSUMER_DEAD_LETTER_ROUTING_KEY=dlq
CONSUMER_DLQ_QUEUE_NAME=payments.new.dlq
CONSUMER_DLQ_QUEUE_MESSAGE_TTL=604800000
